/*@font-face {
    font-family: NombreFuente;
    src: url(/fonts/fonts/charter-regular.otf);
    font-style:normal;
    font-weight: 400;
}
@font-face {
    font-family: NombreFuente;
    src: url(/fonts/fonts/charter-italic.otf);
    font-style:italic;
    font-weight: 400;
}
@font-face {
    font-family: NombreFuente;
    src: url(/fonts/fonts/charter-bold.otf);
    font-style:normal;
    font-weight: bold;
}
@font-face {
    font-family: NombreFuente;
    src: url(/fonts/fonts/charter-bold-italic.otf);
    font-style:italic;
    font-weight: bold;
}
*/
:root {
    font-size: 16px;
    --white: white;
    --white20: #a5a3a5;
    --white10: #3a3539;
}

body {
    color: var(--white);
    font-family: "Nunito", sans-serif;
    background: #251f24;
}

a {
    color: var(--white);
}

.header {}

.header-content {
    padding-inline: 20px;
}

header {
    margin-block-start: 20px;
    font-size: 14px;
    color: var(--white);
}

header li {
    color: var(--white20);
    margin-block-end: 16px;
}

header a {
    color: var(--white20);
    text-decoration: none;
}

header a:hover {
    color: var(--white);
}

nav details summary {
    font-weight: bold;
}

h1,
h2 {
    font-weight: normal;
}

h1 {
    font-size: 40px;
    margin-block-start: 20px;
    margin-block-end: 16px;
    /*font-weight: normal;*/
}

h2 {
    font-size: 2em;
    margin-block: 40px;
    /*font-weight:normal*/
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-block: 16px;
    /*font-weight:normal*/
}

hr {
    margin-block: 40px;
    border-color: #616161;
}

pre {
    background: var(--white10);
    padding: 40px;
    overflow: auto;
    border-radius: 8px;
    border: 10px solid #5551ff;
    box-shadow: -10px 10px 0 0 #abaaf6;
    margin-block-end: 30px;
    border-start-start-radius: 10px;
    border-start-end-radius: 10px;
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
}

p {
    color: var(--white20);
}

.hero {
    background: linear-gradient(96.07deg, #314755 30.63%, #26a0da 102.18%);
    /*background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    */
    block-size: 50px;
}

.section-content img {
    margin-block-start: 40px;
    display: block;
    max-inline-size: 100%;
}

.section-content {
    counter-reset: titleList;
}

.section-content h3 {
    counter-increment: titlelist;
}

.section-content h3::before {
    content: counter(titlelist, decimal) ". ";
}

/*.section-content h3::after{
content: "";
width: 32px;
height: 4px;
background: var(--white);
display: inline-block;

}*/
blockquote {
    margin-block-start: 80px;
    margin-block-end: 63px;
    background: var(--white10);
    border-radius: 8px;
    padding-inline-start: 24px;
    padding-inline-end: 24px;
    padding-block-start: 24px;
    padding-block-end: 24px;
    line-height: 32px;
    font-size: 24px;
}

blockquote p {
    color: var(--white);
}

.main hr {
    display: none;
}

.main {}

.wrapper {
    max-inline-size: 902px;
    margin: auto;
}

.main-content {
    padding-inline: 16px;
}

.slider {}

.slider-container {
    /* border: 1px solid purple*/
    /*block-size: 100px;*/
    display: block;
    overflow: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    font-size: 0;
}

.video {
    margin: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.slider-bullet-list {
    text-align: center;
    margin-block-start: 10px;
}

.slider-bullet {
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background-color: white;
    border-radius: 50%;
}

.form input {
    width: 100%;
    border: 1px solid var(--white);
    background: #251f24;
    box-sizing: border-box;
    border-radius: 8px;
    padding-inline: 16px;
    padding-block: 12px;
    color: var(--white);
    font-size: 16px;
    display: block;
    margin-block-end: 24px;
}

.form input[type="submit"] {
    background: #157efb;
    border: none;
}

.form input::placeholder {
    color: var(--white20);
}

@media screen and (min-width: 1366px) {
    .hero {
        block-size: 350px;
    }

    .header {
        position: sticky;
        inset-block-start: 0;
        inset-block-start: -46px;
    }

    .header-content {
        position: relative;
        inset-block-start: 65px;
        padding-inline: 0;
    }

    header {
        font-size: 14px;
        position: absolute;
        inset-inline-start: -208px;
        inline-size: 188px;
    }

    h1 {
        font-size: 3.75em;
        margin-block-start: 64px;
    }
}